{% load static %}
<link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
<link rel="stylesheet" href="{% static 'css/erp-shell.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
<script src="https://unpkg.com/lucide@0.460.0/dist/umd/lucide.min.js"></script>
<script src="{% static 'js/erp-ui.js' %}" defer></script>
{% if user.is_authenticated %}
<script src="{% static 'js/erp-shell.js' %}" defer></script>
{% endif %}
